*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
/* background-color: #000417; */
}

.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.Hero-section{
  display: flex;
  width: 100%;
  flex-direction: column;

}
.Navbar{
  display: flex;
  padding: 1rem 1.2rem;
  width: 100%;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;

}
.Navbar h1{
  color:#000417;
  font-weight: 550;
}

.Navbar .links{
 display: inline-flex;
 gap: 3rem;
 justify-content: space-between;
 align-items: center;
 
}

.Navbar .links a{
  text-decoration: none;
  font-size: 0.99rem;
  color:#000417;

}

.Navbar .links .link1{
  border: 1px solid rgb(172, 170, 170);
  padding: 0.2rem 0.4rem;
  border-radius: 0.8rem;
}

.Navbar button{
  display: flex;
  gap: 0.4rem;
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: #000417;
  color:white;
}

.Hero-content{

  width: 100%;
  padding: 0rem 1.5rem;
  /* display: flex;
  text-align: center;
  flex-direction: column; */
}

.Hero-content .container{
 background-image: url('./assets/images/herobg.png');
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column; 
  border-radius: 1rem;
  padding: 0rem 2rem;
  color: rgb(240, 239, 239);
  gap: 2rem;
}

.Hero-content .container .center{
  display: flex;
  flex-direction: column;
  gap: 0.98rem;
  align-items: center;
  text-align: center;
  padding: 3rem 3rem;
  
}

.Hero-content .container .center h1{
  font-weight: 530;
  font-size: 2.6rem;
  width: 65%;
}

.Hero-content .container  .center p{
  font-weight: 400;
  font-size: 0.98rem;
  width: 50%;
  color: #f4f4f4;
}

.Hero-content .container .center button {
  padding: 0.5rem 1.3rem;
  background-color: #000417;
  color: #dce2fc;
  border-radius: 1rem;
  border: none;
  font-size: 0.96rem;

}

.Hero-content .container .bottom{
  padding: 5rem 0rem 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Hero-content .container .bottom .bottom-left{
  display: flex;
 align-items: center;

}


.Hero-content .container .bottom .bottom-left .team{
  display: flex;
  gap: 0.5rem;
  align-items: center;

}

.Hero-content .container .bottom .bottom-left .team .intro{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  color: #ffffff;
   font-weight: 400;
   font-size: 0.98rem;
   text-align: start;
 
}

.Hero-content .container .bottom .bottom-left .team .intro p{
  color: #ffffff;
   font-weight: 200;
   font-size: 0.8rem;
 
}

.Hero-content .container .bottom .bottom-left .team .intro{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  color: #ffffff;
   font-weight: 400;
   font-size: 0.98rem;
 
}

.Hero-content .container .bottom .bottom-left .team .choces{
  display: flex;
  /* flex-direction: column; */
  gap: -1rem;
  background-color: rgba(195, 231, 241, 0.514);
  padding: 0.3rem 0.5rem;
  border-radius: 1.4rem;
 
}

.Hero-content .container .bottom .bottom-left .team .choces img{
 object-fit: cover;
 border-radius: 1rem;
 height: 30px;
 margin-left: -0.2rem;
 /* height:fit-content; */
 width: 30px;
 
}


.Hero-content .container .bottom .bottom-right{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Hero-content .container .bottom .bottom-right .social-link{
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.Hero-content .container .bottom .bottom-right .social-link a{
  text-decoration: underline red;
  color: white;
  font-weight: 200;  
}

.about-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 1rem 1.5rem; */
}

.about-section .about-top{
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 1rem 1.5rem;

}

.about-section .about-top button{
  padding: 0.4rem 1rem;
  color: #000417;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 1.3rem;
}

.about-section .about-top p{
  font-size: 1.5rem;
  color: #000417;
  width: 50%;
  font-weight: 540;
}

.about-section .about-center{
 display: flex;
 gap: 1.5rem;
  padding: 1rem 1.5rem;

}

.left-part, .center-part,.right-part{
  width: 33%;
}
.about-section .about-center .left-part{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background-color: #000417;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
}

.about-section .about-center .left-part i{
  font-size: 1.8rem;
  color:white;
}

.about-section .about-center .left-part p{
  font-size: 1.6rem;
  color: white;
}

.about-section .about-center .left-part p span{
  font-size: 1.6rem;
  color: rgb(100, 113, 155);
}

.about-section .about-center .left-part .mode{
  display: flex;
  gap:1rem;
  align-items: center;
  width: 100%;
  
}

.about-section .about-center .left-part .mode button{
display: flex;
width: 10%;
padding: 0.3rem 1.6rem;
border-radius: 1rem;
border: none;
justify-content: start;
background-color: rgb(48, 113, 235);
}

.about-section .about-center .left-part .mode  span {
  color: rgb(100, 113, 155);
  font-size: 1rem;
}

.about-section .about-center .left-part .mode button span {
  width: 90%;
  display: flex;
}

.about-section .about-center .left-part .mode button span i{
  font-size: 1rem;
  color: #f3f2f2;
}

.about-section .about-center .center-part{
  /* border: 1px solid red; */
   display: flex;
   background-image: url('./assets/images/about-center-man.png');
  flex-direction: column;
  background-size: cover;
  background-position: center;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
  /* background-color: #000417; */
  /* border: none; */
  border-radius: 1rem;
  padding: 0.8rem 1rem;
}

.about-section .about-center .center-part button{
  padding: 0.6rem 1rem;
  /* background-color: #8597f0ba; */
  background: linear-gradient(to right,rgba(184, 184, 245, 0.703) , rgba(86, 86, 108, 0.689));
  color: white;
  border-radius: 1.2rem;
  border: none;
  font-size: 1rem;

}

.about-section .about-center .right-part{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  background-color: rgb(240, 240, 242); ;
}

.about-section .about-center .right-part .top{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: start;
}

.about-section .about-center .right-part .top h3{
 font-size: 2.3rem;
 color: #000417;
}

.about-section .about-center .right-part .top h4{
 font-size: 1.3rem;
 font-weight: 500;
}

.about-section .about-center .right-part .top p{
 font-size: 0.99rem;
 color: rgb(152, 151, 150);
}

.about-section .about-center .right-part .bottom{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.about-section .about-center .right-part .bottom .beginner,.intermediate,.advanced{
  display: flex;
   /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  /* gap: 2.1rem; */
}


.about-section .about-center .right-part .bottom .beginner h5,.intermediate h5,.advanced h5{
  font-size: 1.2rem;
  font-weight: 100;  
}

.about-section .about-center .right-part .bottom .beginner .rateing,.intermediate .rateing,.advanced .rateing{
  display: flex;
  
  align-items: center;
  gap: 0.2rem;
  width: 200px;
}

.about-section .about-center .right-part .bottom .beginner .rateing,.advanced .rateing{
 margin-left: 1.3rem;
}

.about-section .about-center .right-part .bottom .beginner .rateing .rate,.intermediate .rateing .rate,.advanced .rateing .rate{
  padding:0.5rem 0.5rem;
  height: fit-content;
  width: fit-content;
 background-color: rgb(48, 113, 235);
  border-radius: 50%;
}


.about-section .about-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  gap: 2rem;
  border-bottom: 1px solid rgb(186, 183, 183);
}

.about-section .about-bottom p{
  font-size:1.6rem;
}

.about-section .about-bottom .growth-numbers{
  display: flex;
  width: 100%;
  gap: 1.7rem;
  padding: 0rem 7rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.about-section .about-bottom .growth-numbers .progress{
  display: flex;
  flex-direction: column;

  
}

.about-section .about-bottom .growth-numbers .progress h3{
  font-size: 2.6rem;
  font-weight: 540;

}

.about-section .about-bottom .growth-numbers .progress h5{
  font-size: 0.98rem;
  font-weight: 540;
  color: #58585e;

}

.Services-section{
  display: flex;
  gap: 2rem;
  padding: 1rem 1rem;
}

.Services-section .ServiceLeftPart,.ServicesCenterPart,.ServucesRightPart{
  width: 34%;
}

.Services-section .ServiceLeftPart{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid red; */
  padding: 1rem 1rem;
}

.Services-section .ServiceLeftPart button{
 padding: 0.4rem 1rem;
 background-color: #000417;
 color:white;
 border-radius: 1rem;
 border: none;
 font-size: 1.1rem;

}


.Services-section .ServiceLeftPart .top {
display: flex;
flex-direction: column;
gap: 1rem;
align-items: start;
}


.Services-section .ServiceLeftPart .top button{
  padding: 0.3rem 0.6rem;
  border:1px solid rgb(172, 171, 171);
  font-size: 0.7rem;
  background-color: transparent;
  border-radius: 0.98rem;
  color: #000417;
}

.Services-section .ServiceLeftPart .top p{
  color: #000417;
  font-size: 1.3rem;
  font-weight: 500;
  
}

.Services-section .ServicesCenterPart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 1rem;
  /* border: 1px solid red; */
  align-items: start;
  background-image: url('./assets/images/services-center.png');
background-size: cover;
}



.Services-section .ServicesCenterPart button{
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background:linear-gradient(to right,rgba(248, 247, 247, 0.393),rgba(246, 246, 248, 0.384),rgba(151, 151, 167, 0.587));
  color: white;
}


.Services-section .ServicesCenterPart .bottom{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.Services-section .ServicesCenterPart .bottom h4{
color: white;
width: 50%;
}


.Services-section .ServicesCenterPart .bottom .icon{
 width: fit-content;
 height: fit-content;
 padding: 0.5rem 0.5rem;
 border-radius: 50%;
 background-color: #89898e;
}


.Services-section .ServicesCenterPart .bottom i{
 color: white;
}

.Services-section .ServucesRightPart{
display: flex;
flex-direction: column;
gap: 1.4rem;
/* align-items: start; */
}

.Services-section .ServucesRightPart .top{
display: flex;
flex-direction: column;
gap: 4rem;
align-items: start;
padding: 1rem 1rem;
/* border: 1px solid red; */
border-radius: 1rem;
background-image: url('./assets/images/services-right.png');
 background-size: cover;
  background-position: top;
}

.Services-section .ServucesRightPart .top button{
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  background:linear-gradient(to right,rgba(248, 247, 247, 0.393),rgba(246, 246, 248, 0.384),rgba(151, 151, 167, 0.587));
  border: none;
  color: white;
  
}

.Services-section .ServucesRightPart .top h4{
  color: rgba(237, 237, 237);  
  font-size: 1rem;
}

.Services-section .ServucesRightPart .bottom{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.Services-section .ServucesRightPart .bottom p{
 width: 56%;
 font-size: 1.2rem;
} 

.Services-section .ServucesRightPart .bottom .icons {
  display: flex;
  gap: 1rem;
}

.Services-section .ServucesRightPart .bottom .icons .icon {
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 0.4rem;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 50%;
}

.Services-section .ServucesRightPart .bottom .icons .icon i {
  font-size: 1rem;
}